.sidebar{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 20%;
    background-color: #bd5d38;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
  }
/* .nav-bar{
    display: grid;
    grid-template-rows: auto;
    place-items: center;
} */
.profile-img{
    background-image: url(../../assets/profile.JPG);
    height: 200px;
    width: 200px;
    background-size: cover;
    border: 5px solid rgba(104, 50, 50, 0.3);
    /* box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%); */
    border-radius: 50%;
    margin-top: 85px;
    /* animation: profile-animate 8s ease-in-out infinite 1s; */
}
.nav-list{
    list-style: none;
}
.nav-items{
    margin: 25px;
}
.nav-items a{
    text-decoration: none;
    color: #fbac8d;
    text-transform: uppercase;
    font-family: 'open-sans',sans-serif;
}
.nav-items a:hover{
    color: white;
}
@keyframes profile-animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@media screen and (max-width : 992px){
    
    .profile-img{
        height: 150px;
        width: 150px;
    }
    
}
@media screen and (max-width : 768px){
    .nav-items{
        font-size: 10px;
        margin-left: auto;
    }
    .profile-img{
        height: 100px;
        width: 100px;
    }
    
}
@media screen and (max-width : 576px){
    .sidebar{
        background-color: #bd5d38;
        display: flex;
        height: 50px;
        width: 100%;
    }
    .nav-list{
        display: flex;
        justify-content: center;
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
        flex-wrap: nowrap;
    }
    .nav-items{
        font-size: 10px;
    }
    .nav-icon,
    .profile-img{
        display: none;
    }
    
}
@media screen and (max-width : 350px){
    .nav-items{
        font-size: 9px;
    }

}